.card{
    background-color: var(--Card);
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    color: var(--Primary);
}
html{
    /* height: 100vh; */
}

.card h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 6px;
}

.card img{
    border-radius: 10px;
    width: 100%;
}

.card .character{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 6px;
}